@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
* {
  box-sizing: border-box;
  font-family: "DotGothic16", sans-serif;
  font-weight: normal;
  font-family: "Galmuri11";
}

html, body, div, h1, h2, h3, h4, h5, h6, p, span, nav, ul, li, a, img, article, main, section, footer {
  margin: 0;
  padding: 0;
}

body {
  background-color: #A292BB;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@-webkit-keyframes loading {
  0% {
    width: 0;
  }
  69% {
    width: 0;
  }
  70% {
    width: 18px;
  }
  99% {
    width: 18px;
  }
  100% {
    width: 0;
  }
}

@keyframes loading {
  0% {
    width: 0;
  }
  69% {
    width: 0;
  }
  70% {
    width: 18px;
  }
  99% {
    width: 18px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes loadings {
  0% {
    width: 0;
  }
  29% {
    width: 0;
  }
  30% {
    width: 18px;
  }
  99% {
    width: 18px;
  }
  100% {
    width: 0;
  }
}
@keyframes loadings {
  0% {
    width: 0;
  }
  29% {
    width: 0;
  }
  30% {
    width: 18px;
  }
  99% {
    width: 18px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes change {
  0% {
    background-image: url(../img/icon/main.png);
  }
  50% {
    background-image: url(../img/icon/logo.png);
  }
  100% {
    background-image: url(../img/icon/main.png);
  }
}
@keyframes change {
  0% {
    background-image: url(../img/icon/main.png);
  }
  50% {
    background-image: url(../img/icon/logo.png);
  }
  100% {
    background-image: url(../img/icon/main.png);
  }
}
body {
  overflow: hidden;
}

.window-maple {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-maple .window-i {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.window-maple .window-i:first-child {
  top: 30px;
  left: 30px;
}
.window-maple .window-i:first-child img {
  width: 120px;
}
.window-maple .window-i:nth-child(2) {
  top: 200px;
  left: 30px;
}
.window-maple .window-i:nth-child(2) img {
  width: 130px;
  margin-left: 10px;
}
.window-maple .window-i h4 {
  color: #333;
  padding-top: 10px;
  font-size: 18px;
  text-shadow: 1px 1px 1px #bbb;
}
.window-maple .window-box {
  transform: translateY(0);
  top: 0;
  left: 0;
  position: absolute;
  background-color: #D7BDEC;
  padding: 3px;
  border-top: 3px solid #ddd;
  border-left: 3px solid #ddd;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  transition: width 0.2s;
}
.window-maple .window-box.edongs {
  transform: translateY(-2000px);
}
.window-maple .window-box .window-box-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.window-maple .window-box .window-box-wrap .top-bar {
  width: 100%;
  background-color: #9248C2;
  height: 26px;
  padding: 3px;
  cursor: -webkit-grab;
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .top-bar:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.window-maple .window-box .window-box-wrap .top-bar .bar-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .top-bar .bar-text .bar-logo {
  height: 20px;
  width: 20px;
  background-color: #fff;
}
.window-maple .window-box .window-box-wrap .top-bar .bar-text .bar-logo img {
  width: 19px;
  padding: 1px;
}
.window-maple .window-box .window-box-wrap .top-bar .bar-text h2 {
  padding-left: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}
.window-maple .window-box .window-box-wrap .top-bar .bar-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3px;
}
.window-maple .window-box .window-box-wrap .top-bar .bar-btn .g-btn {
  width: 22px;
  height: 18px;
  background-color: #D7BDEC;
  margin: 1px;
  box-shadow: -2px -2px 0 #e6e6e6, inset -2px -2px 0 #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .top-bar .bar-btn .g-btn:hover {
  background-color: rgb(172, 148, 211);
  box-shadow: -2px -2px 0 #a3a3a3, inset -2px -2px 0 rgb(58, 58, 58);
}
.window-maple .window-box .window-box-wrap .top-bar .bar-btn .g-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .top-bar .bar-btn .g-btn a div {
  background-size: cover;
  background-position: 50% 50%;
  width: 14px;
  height: 14px;
  margin: 0 0 3px 2px;
}
.window-maple .window-box .window-box-wrap .top-bar .bar-btn .i-btn a div {
  background-image: url(../img/icon/i.png);
}
.window-maple .window-box .window-box-wrap .top-bar .bar-btn .m-btn a div {
  background-image: url(../img/icon/m.png);
}
.window-maple .window-box .window-box-wrap .top-bar .bar-btn .m-btn a div.active {
  background-image: url(../img/icon/m-1.png);
}
.window-maple .window-box .window-box-wrap .top-bar .bar-btn .x-btn {
  margin: 0 0 0 4px;
}
.window-maple .window-box .window-box-wrap .top-bar .bar-btn .x-btn a div {
  background-image: url(../img/icon/x.png);
}
.window-maple .window-box .window-box-wrap .top-menu {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .top-menu li {
  padding-left: 10px;
}
.window-maple .window-box .window-box-wrap .top-menu li:first-child {
  padding-left: 5px;
}
.window-maple .window-box .window-box-wrap .top-menu li a {
  font-size: 17px;
  color: #000;
  position: relative;
}
.window-maple .window-box .window-box-wrap .top-menu li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #000;
}
.window-maple .window-box .window-box-wrap .content-box {
  margin-top: 5px;
  padding: 2px 0 0 2px;
  width: calc(100% - 3px);
  margin-right: 3px;
  background-color: #fff;
  box-shadow: inset 2px 2px 1px #000, 2px 2px 1px #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.window-maple .window-box .window-box-wrap .content-box nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .content-box nav .content-wrap {
  width: calc(100% - 20px);
  height: 100%;
  box-shadow: inset 3px 3px rgb(90, 90, 90);
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .content-box nav .content-wrap.hide {
  display: none;
}
.window-maple .window-box .window-box-wrap .content-box nav .content-wrap .select-wrap {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: justify-content;
  align-items: flex-start;
  flex-wrap: wrap;
}
.window-maple .window-box .window-box-wrap .content-box nav .content-wrap .select-wrap li {
  margin: 8px;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.window-maple .window-box .window-box-wrap .content-box nav .content-wrap .select-wrap li .abat-icon {
  width: 120px;
  position: relative;
}
.window-maple .window-box .window-box-wrap .content-box nav .content-wrap .select-wrap li .abat-icon .high {
  width: 110px;
  top: -10px;
  left: -5px;
  position: absolute;
}
.window-maple .window-box .window-box-wrap .content-box nav .content-wrap .select-wrap li .abat-icon .row {
  width: 100px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.window-maple .window-box .window-box-wrap .content-box nav .content-wrap .select-wrap li h4 {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}
.window-maple .window-box .window-box-wrap .content-box nav .side-scroll-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 20px;
  height: 100%;
  background-color: #e3e3e3;
}
.window-maple .window-box .window-box-wrap .content-box nav .side-scroll-bar .s-btn {
  width: 20px;
  height: 20px;
  background: #D7BDEC;
  box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .content-box nav .side-scroll-bar .s-btn img {
  width: 15px;
}
.window-maple .window-box .window-box-wrap .content-box nav .side-scroll-bar .joonggan {
  width: 20px;
  height: calc(100% - 40px);
  background-color: #ccc;
}
.window-maple .window-box .window-box-wrap .content-box nav .side-scroll-bar .joonggan .j-bar {
  width: 100%;
  height: 90%;
  background-color: #D7BDEC;
  box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #000;
}
.window-maple .window-box .window-box-wrap .content-box .under-scroll-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  background-color: #e3e3e3;
}
.window-maple .window-box .window-box-wrap .content-box .under-scroll-bar .u-btn {
  width: 20px;
  height: 20px;
  background: #D7BDEC;
  box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .content-box .under-scroll-bar .u-btn img {
  width: 15px;
}
.window-maple .window-box .window-box-wrap .content-box .under-scroll-bar .gingu {
  width: calc(100% - 40px);
  height: 20px;
}
.window-maple .window-box .window-box-wrap .content-box .under-scroll-bar .gingu .g-bar {
  width: 100%;
  height: 100%;
  background-color: #D7BDEC;
  box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #000;
}
.window-maple .window-box .window-box-wrap .content-box .under-scroll-bar .empty-box {
  width: 20px;
  height: 20px;
  background: #D7BDEC;
}
.window-maple .window-box .window-box-wrap .under-line {
  margin: 10px 0;
  width: 100%;
  height: 2px;
  background-color: #888;
  box-shadow: 0 2px #f7f7f7;
}
.window-maple .window-box .window-box-wrap .bottom-wrap {
  width: 95%;
  height: 25px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .bottom-wrap .bottom-left {
  height: 100%;
  width: 70%;
  margin-right: 2px;
  border-top: 2px solid #999;
  border-left: 2px solid #999;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-maple .window-box .window-box-wrap .bottom-wrap .bottom-left p {
  padding-left: 8px;
  font-size: 17px;
}
.window-maple .window-box .window-box-wrap .bottom-wrap .bottom-right {
  height: 100%;
  width: 30%;
  border-top: 2px solid #999;
  border-left: 2px solid #999;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
.window-maple .grim {
  width: 500px;
  top: 100px;
  left: 100px;
}
.window-maple .grim.active {
  width: 600px;
}
.window-maple .grim .window-box-wrap .top-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.window-maple .grim .window-box-wrap .zhong-wrap {
  margin-top: 5px;
  width: calc(100% - 6px);
  height: 100%;
  padding: 0 4px 0 2px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.window-maple .grim .window-box-wrap .zhong-wrap .left-select {
  border-top: 2px solid #444;
  width: 100px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.window-maple .grim .window-box-wrap .zhong-wrap .left-select .s-icon-wrap {
  border-top: 2px solid #ddd;
  width: 100%;
  padding: 0 4px;
  height: 168px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.window-maple .grim .window-box-wrap .zhong-wrap .left-select .s-icon-wrap .s-icon {
  width: 42px;
  height: 42px;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-bottom: 2px solid #444;
  border-right: 2px solid #444;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-maple .grim .window-box-wrap .zhong-wrap .left-select .s-icon-wrap .s-icon:hover {
  background-color: #D7BDEC;
  filter: grayscale(0.6);
}
.window-maple .grim .window-box-wrap .zhong-wrap .left-select .s-icon-wrap .s-icon img {
  width: 40px;
}
.window-maple .grim .window-box-wrap .zhong-wrap .left-select .s-icon-wrap .s-icon img:first-child {
  width: 32px;
}
.window-maple .grim .window-box-wrap .zhong-wrap .left-select .nemo-nemo {
  width: 80%;
  margin-top: 10px;
  margin-right: 6px;
  height: 120px;
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
}
.window-maple .grim .window-box-wrap .zhong-wrap .content-box2 {
  margin: 0;
  padding: 2px 0 0 2px;
  width: calc(100% - 105px);
  margin-right: 3px;
  background-color: #fff;
  box-shadow: inset 2px 2px 1px #000, 2px 2px 1px #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.window-maple .grim .window-box-wrap .zhong-wrap .content-box2 nav {
  width: 100%;
  height: 300px;
  transition: height 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-maple .grim .window-box-wrap .zhong-wrap .content-box2 nav.active {
  height: 400px;
}
.window-maple .grim .window-box-wrap .zhong-wrap .content-box2 nav .content-wrap {
  width: calc(100% - 20px);
  height: 100%;
  box-shadow: inset 3px 3px rgb(90, 90, 90);
  padding: 3px 0 0 3px;
}
.window-maple .grim .window-box-wrap .zhong-wrap .content-box2 nav .content-wrap .grimpan-wrap {
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-maple .grim .window-box-wrap .zhong-wrap .content-box2 nav .content-wrap .grimpan-wrap .CHbox {
  transform: translateY(-10px);
  width: 320px;
  height: 320px;
  position: relative;
}
.window-maple .grim .window-box-wrap .zhong-wrap .content-box2 nav .content-wrap .grimpan-wrap .CHbox img {
  position: absolute;
  width: 320px;
  top: 0;
  left: 0;
}
.window-maple .grim .window-box-wrap .palette {
  height: 50px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.window-maple .grim .window-box-wrap .palette .palette-left {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
  position: relative;
}
.window-maple .grim .window-box-wrap .palette .palette-left .wit-nemo {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 4;
  top: 7px;
  left: 7px;
  border: 2px solid #c0c0c0;
  background-color: #000;
}
.window-maple .grim .window-box-wrap .palette .palette-left .aret-nemo {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 3;
  bottom: 7px;
  right: 7px;
  border: 2px solid #c0c0c0;
  background-color: #fff;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon {
  height: 25px;
  width: 25px;
  border-top: 3px solid #444;
  border-left: 3px solid #444;
  border-bottom: 3px solid #eee;
  border-right: 3px solid #eee;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(1) {
  background-color: #111;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(2) {
  background-color: #033569;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(3) {
  background-color: #156FBD;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(4) {
  background-color: #9345E5;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(5) {
  background-color: #BF5EDF;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(6) {
  background-color: #0189CF;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(7) {
  background-color: #9A6C89;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(8) {
  background-color: #51996F;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(9) {
  background-color: #08A397;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(10) {
  background-color: #3185D3;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(11) {
  background-color: #B3748C;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(12) {
  background-color: #E26AB5;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(13) {
  background-color: #9248C2;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(14) {
  background-color: #148F90;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(15) {
  background-color: #FAD7E0;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(16) {
  background-color: #9CA2C1;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(17) {
  background-color: #6BC052;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(18) {
  background-color: #BE30BD;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(19) {
  background-color: #7EB59A;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(20) {
  background-color: #DCD8F0;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(21) {
  background-color: #79727D;
}
.window-maple .grim .window-box-wrap .palette .palette-wrap .p-icon:nth-child(22) {
  background-color: #fff;
}
.window-maple .abat {
  z-index: 6;
  width: 700px;
  top: 10%;
  left: 40%;
}
.window-maple .abat.active {
  width: 800px;
}
.window-maple .abat nav {
  transition: height 0.2s;
  height: 400px;
}
.window-maple .abat nav.active {
  height: 500px;
}
.window-maple .downs {
  width: 500px;
  top: 50%;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-maple .downs .download {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-maple .downs .download .load-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../img/icon/main.png);
  margin-right: 50px;
  -webkit-animation: change 3s infinite linear;
          animation: change 3s infinite linear;
}
.window-maple .downs .download .load-right .load-bar h5 {
  margin-top: 15px;
  font-size: 16px;
}
.window-maple .downs .download .load-right .load-bar .loading {
  margin: 10px 0;
  background-color: #ccc;
  border-top: 3px solid #888;
  border-left: 3px solid #888;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.window-maple .downs .download .load-right .load-bar .loading .p-bar {
  width: 18px;
  height: 30px;
  margin: 2px;
  background-color: #9248C2;
}
.window-maple .downs .download .load-right .load-bar .loading .upup {
  width: 0;
  -webkit-animation: loading 1s infinite linear;
          animation: loading 1s infinite linear;
}
.window-maple .downs .download .load-right .load-bar .loading .up {
  width: 0;
  -webkit-animation: loadings 1s infinite linear;
          animation: loadings 1s infinite linear;
}
.window-maple .downs .download .load-right .down-btn-wrap {
  width: 100%;
  margin: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.window-maple .downs .download .load-right .down-btn-wrap .downgo {
  margin-right: 20px;
  padding: 5px;
  background-color: #d5c0db;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  box-shadow: inset 3px 3px 1px #eae0ec, inset -3px -3px 1px #8b7691;
  cursor: pointer;
}
.window-maple .downs .download .load-right .down-btn-wrap .downgo:hover {
  background-color: #c1a4c9;
  box-shadow: inset 3px 3px 1px #c8c2c9, inset -3px -3px 1px #7b6d80;
}
.window-maple .downs .download .load-right .down-btn-wrap .downgo .jumjum {
  border: 1px dashed #333;
  width: 150px;
  height: 30px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

footer {
  z-index: 1000;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #BDBEBD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-wrap {
  width: 100%;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-wrap .footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-wrap .footer-left .start {
  margin-left: 1px;
  height: 35px;
}
footer .footer-wrap .footer-left .start a {
  padding: 0;
  margin: 0;
  height: 100%;
  display: block;
}
footer .footer-wrap .footer-left .start a img {
  height: 100%;
  transition: 0.2s;
}
footer .footer-wrap .footer-left .start a img:hover {
  filter: brightness(0.8);
}
footer .footer-wrap .footer-left .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-wrap .footer-left .link nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-wrap .footer-left .link nav .sideS {
  height: 35px;
  width: 2px;
  border-radius: 1px;
  background-color: #9c9c9c;
  margin: 0 5px;
  box-shadow: 1px 1px 0 #ddd;
}
footer .footer-wrap .footer-left .link nav .sideB {
  height: 32px;
  width: 4px;
  border-radius: 2px;
  background-color: #ddd;
  margin: 0 5px;
  box-shadow: inset -1px -1px 2px #7a7a7a, inset 1px 1px 2px #fff;
}
footer .footer-wrap .footer-left .link a {
  margin: 0 5px;
}
footer .footer-wrap .footer-left .link a img {
  height: 30px;
}
footer .footer-wrap .footer-left .under_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 5px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  box-shadow: inset 3px 3px 0px #727272, inset -3px -3px 0px #e2e2e2;
  margin: 0 3px;
}
footer .footer-wrap .footer-left .under_box img {
  width: 20px;
  margin-right: 5px;
}
footer .footer-wrap .footer-left .under_box h5 {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
}
footer .footer-wrap .footer-left .under_box.active {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  box-shadow: inset 3px 3px 0px #e2e2e2, inset -3px -3px 0px #727272;
}
footer .footer-wrap .footer-left .under_box.del {
  display: none;
}
footer .footer-wrap .clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-wrap .clock .sideS {
  height: 35px;
  width: 2px;
  background-color: #9c9c9c;
  margin: 0 5px;
  box-shadow: 2px 2px 0 #ddd;
}
footer .footer-wrap .clock .clock-box {
  height: 35px;
  padding: 5px;
  border-top: 2px solid #888;
  border-left: 2px solid #888;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-wrap .clock .clock-box img {
  height: 20px;
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */